*,
*::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: 262626;
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: url(./images/clockface.jpg);
    background-size: cover;
}
.clock:before {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 60px;
    height: 7px;
    background: black;
    border-radius: 3px;
    animation: animate 4s linear infinite;
    transform-origin: left;
}
.second {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    z-index: 1;
}
.hand {
    position: absolute;
    top: 5%;
    left: 49%;
    width: 4px;
    height: 89px;
    margin-top: 20px;
    border-radius: 41px;
    background: #f00;
    z-index: 1;
}
@keyframes animate {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(270deg);
    }
}
.clock::after {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 40px;
    height: 7px;
    background: black;
    border-radius: 3px;
    animation: animate 48s linear infinite;
    transform-origin: left;
}